@model EnglishDictApp.Web.ViewModels.Exam.ExamAnswerViewModel

@if (Model.IsCurrentAnswerRight)
{
    <div class="answer">
        Right answer! You're getting better and better!
    </div>
    Model.RightAnswers += 1;
}
else
{
    <div class="answer">
        Wrong answer. Next time you will be better!
    </div>
}

    <div class="jumbotron">
        <h1 class="display-4">@Model.CurrentQuestion.Title</h1>
        Meanings
        @foreach (string meaning in Model.CurrentQuestion.Meanings)
        {
            <ul>
                <li class="lead">@meaning</li>
            </ul>
        }
        Examples:
        @foreach (string sentence in Model.CurrentQuestion.Sentences)
        {
            <ul>
                <li class="lead">@sentence</li>
            </ul>
        }
        <hr class="my-4">
        @Html.ActionLink("Continue exam", "AskQuestion", "Exam", new { isRightAnswer = Model.IsCurrentAnswerRight }, new { @class = "btn btn-success" })
    </div>

    <div class="answer-footer row">
        <div class="answer-footer-left">
            Current exam status:
            <div class="answer-footer-left-statistic">
                @Model.RightAnswers out of @Model.CurrentQuestionSequelNumber
            </div>
        </div>
        <div class="answer-footer-right">
            Current grade:
            <div class="answer-footer-right-grade">
                @Model.Grade.ToString("f2")
            </div>
        </div>
    </div>
