@model EnglishDictApp.Web.ViewModels.Exam.ExamAnswerViewModel

@if (Model.IsCurrentAnswerRight)
{
    <div class="answer">
        Right answer! You're getting better and better!
    </div>
    Model.RightAnswers += 1;
}
else
{
    <div class="answer">
        Wrong answer. Next time you will be better!
    </div>
}

    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">@Model.CurrentQuestion.Title</p>
        Meanings
        @foreach (string meaning in Model.CurrentQuestion.Meanings)
        {
            <ul>
                <li class="lead">@meaning</li>
            </ul>
        }     
        Examples:
        @foreach (string sentence in Model.CurrentQuestion.Sentences)
        {
            <ul>
                <li class="lead">@sentence</li>
            </ul>
        }
        <hr class="my-4">
        <p>somtehing to write</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>

<div class="answer-footer">
    Current exam status:
    <div class="answer-footer-first">
        @Model.RightAnswers out of @Model.CurrentQuestionSequelNumber
    </div>
</div>

@Html.ActionLink("BackToExam", "AskQuestion", "Exam", new { isRightAnswer = Model.IsCurrentAnswerRight }, new { @class = "btn btn-primary" })
